.main-content{
    margin-left: 260px;   /* pushes content past sidebar */
    padding: 40px;
}

.settings-form{
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.settings-form input{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

.settings-form button{
    background:#4CAF50;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}